.slack {
  background-color: $highlight;
  color: darken($highlight, 40%);
  position: relative;
}

.slack-info {
  span {
    font-size: 25px;
    line-height: 1.2;
    position: relative;
    padding: 0 5px;
    align-self: center;

  }
}

.slack-button {
  button {
    @include color(#eeeeee, $primary2)
  }
}
